body {
    background-color: rgb(82, 5, 123);
    margin: 0px;
    font-family: 'Krona One', sans-serif;
}

#header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu div {
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    margin: 20px;
}

#menu a {
    color: white;
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
}

#menu div:hover {
    padding: 10px;
    background-color: rgb(255, 163, 253);
    color: rgb(0, 0, 0);
}

#header a.icon img {
    overflow: hidden;
    display: none;
}

#Contact_head {
    position: relative;
}

#Contact_head h1 {
    position: relative;
    color: gray;
    width: 100%;
    font-size: 120px;
    text-align: center;
    opacity: 40%;
}

#Contact_head h4 {
    position: absolute;
    top: -20%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 1px;
    text-decoration: underline rgb(255, 163, 253);
}

#message_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    max-width: 600px;
}

form input,
form textarea {
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
}

button {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 1%;
}

#contact_details_main h2 {
    margin-top: 100px;
    font-size: 60px;
    color: rgb(255, 163, 253);
}

#phone_number {
    display: flex;
    font-size: 30px;
    align-items: center;
}

#phone_number a {
    color: white;
    text-decoration: none;
}

#phone_number div {
    margin-left: 40px;
}

#email_address {
    display: flex;
    font-size: 30px;
    align-items: center;
}

#email_address a {
    color: white;
    text-decoration: none;
}

#email_address div {
    margin-left: 40px;
}

.contact_img img {
    width: 80px;
}

#follow_logo {
    display: flex;
}

#follow_logo img {
    width: 50px;
    margin: 0px 30px 80px 30px;
}

footer {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

/* @media (max-width: 960px) {

    #Contact_head h1 {
        position: relative;
        color: gray;
        font-size: 80px;
        text-align: center;
        opacity: 40%;
    }

    #Contact_head h4 {
        position: absolute;
        left: 30%;
        top: 18%;
        font-size: 30px;
        color: white;
        padding: 1px;
        border-bottom: 2px solid rgb(255, 163, 253);
    }
} */

@media (max-width: 460px) {

    #header {
        overflow: hidden;
        background-color: black;
        position: relative;
    }

    #header #menu {
        display: none;
    }

    #header a.icon img {
        display: flex;
        width: 30px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px;
    }

    #menu div {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    #Contact_head h1 {
        font-size: 50px;
    }

    #Contact_head h4 {
        font-size: 24px;
        top: -30%;
    }

    form {
        width: 80%;
    }

    #contact_details_main h2 {
        margin-top: 100px;
        font-size: 20px;
        color: rgb(255, 163, 253);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #phone_number {
        display: flex;
        font-size: 10px;
        align-items: center;
        color: white;
    }

    .contact_img img {
        width: 30px;
    }

    #email_address {
        display: flex;
        font-size: 10px;
        align-items: center;
        color: white;
    }

    #follow_logo img {
        width: 20px;
        margin: 0px 20px 50px 20px;
    }

    .contact_details_follow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}